@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap")
;
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  color: black;

}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

:root{
  --white-color:white;
  --yellow-color:#FFC222;
  --black-color:black;
  --primary-font: 'Oswald', sans-serif;
  --light-yellow:#F7F2E2;
  --dark-light-yellow:#9e9b8f;
  --price-color:red;
  --nice-yellow:#fdd97d;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: var(--primary-font);
}
/* Navigation Bar */
#navbar__fixed{
  width: 100%;
  height: 100px;
  background-color: var(--light-yellow);
  position: fixed;
  z-index: 2;
  box-shadow: 5px 0 5px black;
}
.navbar{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.navbar__logo{
  width: 15%;
  min-width: 120px;
  height: 95px;
}
.navbar__logo__sqr{
  height: 95px;
  width: 100px;
}
#navbar__toggle{
  font-size: 2em;
  border: 1px solid var(--black-color);
  padding: 2px 10px;
  border-radius: 3px;
  display: none;
  cursor: pointer;
}
.navbar__nav{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-transform: capitalize;
}
.navbar__nav__element{
  transition: .3s;
  font-size: 1.3em;
}
.navbar__nav__element:hover{
  color:var(--yellow-color);
}
.navbar__orderbox{
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.orderbox__icon>i{
  font-size: 2em;
  color: green;
}
.content-title{
  font-weight: normal;
  font-size: 1em;
}
.content__des{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--yellow-color);
  min-width: 155px;
}
/* Main Content */
#content{
  padding: 0 100px;
  background-image: url(/assets/img/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.introduce {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  animation: appear 1.2s linear 0.1s;
  min-height: 100vh;
}
.introduce__content{
  min-width: 340px;
  margin: 20px 0;
  max-width: 441px;
}
.introduce__content__title {
  font-family: "Italianno", cursive;
  font-size: 100px;
}
.introduce__content__des {
  font-size: 20px;
  font-family: "Andada Pro", serif;
  margin: 10px 0 50px;
}
.introduce__content__btn1 {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgb(255, 217, 0);
  transition: 0.35s;
}
.introduce__content__btn1:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}
.introduce__logo {
  max-height: 550px;
  max-width: 500px;
  min-width: 340px;
  transition: 0.5s;
  margin: 20px 0;
}
.introduce__logo:hover {
  transform: scale(1.08);
  cursor: pointer;
}
/* Menu */
#menu{
  min-height: 100vh;
  background-color: var(--light-yellow) ;
  padding: 0 50px;
}
.menu__title,.add__title{
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  padding: 100px 0 50px 0;
  letter-spacing: 3px;
}
.menu__food{
  display: flex;
  flex-wrap: wrap;
  gap:0px;
}
.food__box{
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0 2px 2px var(--black-color);
  border: 1px solid var(--black-color);
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 400px;
  margin: 20px 10px;
  cursor: pointer;
  position: relative;
  transition: .3s;
  min-height: 482px;
}.food__box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0px;
  bottom: 0;
  border-radius: 30px;
  background-color: var(--nice-yellow);
  z-index: -1;
  transition: height .3s ease-in;
}
.food__box:hover::before{
  background-color: #FFC223;
  height: 100%;
}
.food__box:hover>div>i{
  color: white;
}
.food__box:hover>.food__order{
  color: var(--white-color);
  background-color: var(--price-color);
}
.food__price{
  position: absolute;
  font-weight: bold;
  background-color: var(--price-color);
  top: 20px;
  left: 10px;
  padding: 5px;
  color: var(--white-color);
}
.fa-star{
  color: rgb(238, 255, 0);
}
.food{
  height: 450px;
  object-fit: cover;
  width: 100%;
}
.food__order{
  border: 1px solid var(--price-color);
  padding: 0px 10px ;
  color: var(--price-color);
  transition: .2s;
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
}
/* Address */
.address__wrapper{
  width: 100%;
  min-height: 80vh;
}
.address__content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
}
.content__info{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.element__icon{
  font-size: 40px;
}
.address__map{
  width: 50%;
  min-width: 500px;
  border: 1px solid var(--black-color);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
.element__content__des__email{
  width: 100%;
  margin: 0 auto;
  color: #80818E;
}
.info__element{
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  min-width: 150px;
  margin: 20px 0;
  color: var(--black-color);
}
.fa-map-marker-alt{
  color:var(--yellow-color)
}
.fa-facebook-square{
  color: rgb(27, 68, 250);
}
.fa-envelope{
  color: rgb(252, 111, 111);
}
/* Footer */
#footer{
  min-height: 590px;
  width: 100%;
}
.contact{
  background-color: rgb(0, 0, 0);
}
.contact__title{
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
  color: rgb(255, 255, 255);
}
.contact__title::before{
  content: "";
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 0.2px;
  position: absolute;
  top: 45%;
  left: 0;
}
.contact__title__content{
  font-size: 40px;
  text-shadow: 2px 0 0 var(--yellow-color), -2px 0 0 var(--yellow-color), 0 2px 0 var(--yellow-color), 0 -2px 0 var(--yellow-color), 2px 2px var(--yellow-color), -2px -2px 0 var(--yellow-color), 2px -2px 0 var(--yellow-color), -2px 2px 0 var(--yellow-color);
  color: inherit;
  position: relative;
}
.contact__title__des{
  font-size: 28px;
  font-style: italic;
  color: inherit;
  font-family: 'Italianno', cursive;
}
.contact__wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
  min-height: 260px;
}
.contact__element{
  width: 33.33%;
  text-align: center;
  color: rgb(255, 255, 255);
  min-width: 150px;
  margin: 20px 0;
}
.element__title{
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.3em;
  color: inherit;
  margin-bottom: 10px;
}
.element__content__des{
  width: 50%;
  margin: 0 auto;
  color: #80818E;
}
.time{
  color: var(--white-color)
}
.coppyright{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 100px;
  background-color: var(--yellow-color);
  letter-spacing: 2px;
  width: 100%;
}
.coppyright__content{
  min-width: 300px;
  width: 50%;
}
.coppyright__reditcard{
  width: 50%;
  min-width: 300px;
}
.coppyright__reditcard>img{
  float: right;
}
.coppyright__content__strong{
  color: var(--white-color);
}
/* MEDIA QUERIES */
@media(max-width: 991px){
  .navbar{
    padding: 0 20px;
  }
  .navbar__orderbox{
    display: none;
  }
  .introduce{
    justify-content: center;
  }
  .introduce__content__title, .introduce__content__btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address__map{
    width: 100%;
  }
  .food{
    height: auto;
  }
}
@media(max-width: 768px){
  #navbar__toggle{
    display: initial;
  }
  .navbar__nav{
    position: absolute;
    top: 100%;
    display: block;
    width: 100%;
    left:0;
    text-align: center;
    background-color: var(--light-yellow);
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .2s;
  }
  .navbar__nav.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  }
  .navbar__nav__element{
    display: block;
    padding: 20px 0;
    margin: 20px 20px;
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
  }
  .address__map{
    min-width: 360px;
  }
  .contact__element{
    width: 100%;
  }
  .contact__wrapper{
    margin: 0;
  }
  .content__info{
    width: 100%;
  }
}